<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB11BknEVaWK9vZvJLaUd2pqh-O6Vkd4xU</string>
	<key>GCM_SENDER_ID</key>
	<string>713434890367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.systemskings.coolvert</string>
	<key>PROJECT_ID</key>
	<string>coolvert-355fb</string>
	<key>STORAGE_BUCKET</key>
	<string>coolvert-355fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713434890367:ios:cdf5a9f179fb6d68ffbf4a</string>
</dict>
</plist>